*{
    margin: 0;
    padding: 0;
}
/* Main container */
.content{
    display: flex;
    flex-direction: column;
    gap: 144px;

}
/* Header settings */
.container{
    font-family: "Helvetica", sans-serif;
    display: flex;
    justify-content: center;
    padding: 13px 0;
    font-size: 21px;
    
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #000;
    
}
.container h1{
    color:rgb(65, 175, 219);
   text-shadow: 1px 1px #000;
}
.main{
   
    padding: 0 144px;
    display: flex;
    flex:1;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.main ul{
    display: flex;
    align-items: center;
    gap: 21px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(209, 76, 76);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: bold;

}
a:hover{
    text-decoration: underline;
}
a:active{
    color:rgb(221, 170, 30);
}
/* Button settings */
.button{
    padding: 21px;
    display: flex;
    justify-content: center;
    flex: 1;
}
.button button{
    font-size: 34px;
    background: #fff;
    padding: 13px;
    border-radius: 8px;
}
button:hover{
    font-weight: bold;
    cursor: pointer;
}
button:active{
    color:rgb(221, 170, 30);
}
